<a style="font-size:3em" href="#/home">Home</a>
<br>

<h2>{{heading}}</h2>

<!--
   Display houses in a table from Firebase (version 2)
-->  
<div>
   <table style="width:60%">
      <thead>
         <tr>
            <th>Address:</th>
            <th>Bedrooms:</th>
            <th>Price:</th>
         </tr>
      </thead>
      <tbody ng-repeat="item in chosenArea">
         <tr>
            <td>{{item.address}}</td>
            <td>{{item.beds}}</td>
            <td>{{item.price}}</td>
         </tr>
      </tbody>
   </table>
</div>

<!--
   Link to map
-->  
<a href="#/map/{{routeParamsID}}" class="btn btn-primary">Go to map</a>
