<a style="font-size:3em" href="#/home">Home</a>
<br>

<h2>{{heading}}</h2>

<!--
   Display houses in a table from Firebase (version 2)
-->  
<div>
   <table style="width:60%">
      <thead><h4>Order by:</h4>
         <tr>
            <th class="thstyle" ng-click="orderByMe('address')"><h4>Address</h4></th>
            <th class="thstyle" ng-click="orderByMe('beds')"><h4>Bedrooms</h4></th>
            <th class="thstyle" ng-click="orderByMe('price')"><h4>Price</h4></th>
         </tr>
      </thead>
      <tbody ng-repeat="item in chosenArea | orderBy:myOrderBy">
         <tr>
            <td>{{item.address}}</td>
            <td>{{item.beds}}</td>
            <td>{{item.price}}</td>
         </tr>
      </tbody>
   </table>
</div>

<!--
   Link to map
-->  
<a href="#/map/{{routeParamsID}}" class="btn btn-primary">Go to map</a>
